html {
  overflow-y:hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Главная страница*/
/* Стилизация заголовка страницы-начало*/
.main-header {
  padding-top: 49px;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  color: #000000;
  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 65px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 6px;
  width: 1000px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-navigation a {
  display: block;
  color: #000000;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 440px;
  margin: 0;
  padding: 0;
  margin-left: 202px;
}

.site-navigation{
  list-style: none;
}

.site-navigation li:nth-child(4) {
  margin-right: 1px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation li:nth-child(3) {
  position: relative;
}

.visited::after {
  content: "";
  position: absolute;
  bottom: -7px;
  height: 2px;
  background-color: #fb565a;
  right: 2%;
  width: 98%;

}

.user-navigation {
  text-align: right;
  margin-left: auto;
  width: 160px;
}

.user-navigation .login-link {
  position: relative;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 44px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}


.login-link:hover {
  color: #fb565a;
}

.login-link:active {
  color: rgba(0, 0, 0, 0.3);
}
/* Стилизация заголовка страницы-конец*/

/* Стилизация слайдра-начало*/
.slider {
  position: relative;
  min-height: 413px;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.features-list,
.slider-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  max-width: 600px;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.feature-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.feature-item {
  display: none;
  padding: 70px 0 80px 0;
}

.feature-item:nth-child(1) {
  display: block;
}

.feature-item-button {
  padding: 17px 0px;
  width: 240px;
  background-color: #fb565a;
  border-radius: 3px;
  text-align: center;
}

.feature-item-button:hover,
.feature-item-button:focus {
  background-color: #e74246;
}

.feature-item-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.slider-navigation {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-navigation li {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-navigation li::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-navigation .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.feature-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 431px 9px;
}

.feature-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 400px 0px;
}

.feature-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 400px 16px;
}
/*Стилизация слайдра-конец*/

/* Стилизация блока услуги-начало*/
.services {
  position: relative;
  margin-bottom: 78px;
}

.services .container::after {
  content: "";
  position: absolute;
  bottom: -82px;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.service-item:nth-child(2) {
  margin-left: 100px;
}

.service-item:nth-child(3) {
  margin-left: 100px;
}

.website-picture,
.app-picture,
.presentation-picture {
  margin: 0px;
  padding: 0px;
}

.service-item p {
  margin: 0;
  padding: 0;
  width: 260px;
  margin-bottom: 31px;
}

.service-title {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 17px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.29;
  color: #000000;
}

.button {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
}

.service-button-1 {
  padding: 17px 0px;
  width: 160px;
  border-radius: 3px;
  background-color: #fb565a;
}

.service-button-1:hover,
.service-button-1:focus {
  background-color: #e74246;
}

.service-button-1:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.service-button-2 {
  padding: 17px 0px;
  width: 160px;
  border-radius: 3px;
  background-color: #00ca74;
}

.service-button-2:hover,
.service-button-2:focus {
 background-color: #00bc6c;
}

.service-button-2:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.service-button-3 {
  padding: 17px 0px;
  width: 160px;
  border-radius: 3px;
  background-color: #efc84a;
}

.service-button-3:hover,
.service-button-3:focus {
  background-color: #eab534;
}

.service-button-3:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}
/* Стилизация блока услуги-конец*/

/* Стилизация блока о нас-начало*/
.about-us {
  padding-top: 78px;
  margin-bottom: 76px;
}

.about-us-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-us-description {
  width: 680px;
}

.about-us-description p {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.about-us-description b {
  display: block;
  margin-bottom: 34px;
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.about-us-description h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.working-list,
.values-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -34px;
  width: 360px;
}

.about-us-logo {
  margin: 0;
  padding: 0;
}

.values {
  margin-top: 0px;
}

.values > b {
  margin-left: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.values-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 61px;
}

.values-list p {
  margin: 0;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 3px;
}

.working-list li {
  position: relative;
  padding-left: 36px;
}

.working-list li:nth-child(1),
.working-list li:nth-child(2) {
  margin-bottom: 24px;
}

.working-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.values-list li {
  margin-right: 23px;
  line-height: 1.13;
  color: #283136;
}

.values-list b {
  font-size: 45px;
  font-weight: bold;
  line-height: 0.22;
  color: #000000;
}

.values-list sup {
  font-size: 27px;
  vertical-align: middle;
}
/* Стилизация блока о нас-конец*/

/* Стилизация блока заказчики-начало*/
.customers {
  margin: 0px;
  padding: 0px;
  margin-bottom: 80px;
}

.customers .container {
  position: relative;
}

.customers .container::before,
.customers .container::after {
  content: "";
  position: absolute;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.customers .container::before {
  top: -4px;
}

.customers .container::after {
  bottom: 0px;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  min-height: 180px;
  list-style: none;
}

.customer-item {
  position: relative;
  text-align: center;
}

.customer-item a {
  display: block;
}

.customer-item:nth-child(1) {
  padding-left: 31px;
  padding-top: 15px;
}

.customer-item:nth-child(2) {
  padding-right: 6px;
  padding-top: 5px;
}

.customer-item:nth-child(3) {
  padding-right: 25px;
  padding-top: 2px;
}

.customer-item:nth-child(4) {
  padding-right: 42px;
  padding-top: 11px;
}

.customer-item:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 17px;
  right: -51px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.customer-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 23px;
  right: -40px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.customer-item:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -33px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.customer-logo {
  opacity: 0.2;
}

.customer-logo:hover,
.customer-logo:focus  {
  opacity: 1;
}

.customer-logo:active {
  opacity: 0.1;
}
/* Стилизация блока заказчики-конец*/

/* Стилизация блока контакты-начало*/
.contacts {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.map {
  height: 416px;
  background-image: url("../img/2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.map iframe {
  width: 100%;
  height: 416px;
  border: 0;
}

.contacts .container {
  position: relative;
}

.contact-us {
  position: absolute;
  top: 57px;
  left: -4px;
  margin-left: 2%;
  width: 319px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 44px;
  padding-bottom: 47px;
  padding-left: 50px;
  text-align: left;
  background-color: #ffffff;
}

.contact-us b {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
  color: #000000;
}

.contact-us p {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 16px;
  line-height: 1.13;
  color: #666666;
}

.contact-us span {
  color: #666666;
}

.contact-us .contact-phone {
  padding-left: 5px;
  text-decoration: none;
  color: inherit;
}

.contacts-button {
  margin-top: 33px;
  padding: 17px 0px;
  width: 219px;
  border-radius: 3px;
  text-align: center;
  background-color: #fb565a;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: #e74246;
}

.contacts-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
/* Стилизация блока контакты-конец*/

/* Стилизация футера-начало*/
.main-footer {
  padding-top: 63px;
  padding-bottom: 77px;
}

.main-footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.social-button-list {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 560px;
}

.slogan p {
  margin: 0;
  padding: 0;
}

.slogan p:first-child {
  font-size: 37px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}

.slogan p:last-child {
  margin-top: 10px;
  line-height: 1.38;
  color: #444444;
}

.social-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 260px;
  margin: 0px;
  margin-right: 139px;
  padding: 0px;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button-item:nth-child(1),
.social-button-item:nth-child(2) {
  margin-right: 12px;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active svg{
  opacity: 0.3;
}
/* Стилизация футера-конец*/

/* Стилизация модальное окно-начало*/
.modal-contact-us {
  display: none;
  position: fixed;
  width: 960px;
  height: 590px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 100;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 73px;
  background-color: #fff;
}

.contact-us-form-name,
.contact-us-form-email,
.contact-us-form-text {
  margin-top: 12px;
}

.contact-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.modal-contact-us h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.button-modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 22px;
  height: 22px;
  opacity: 0.3;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.button-modal-close:hover,
.button-modal-close:focus {
  opacity: 1;
}

.button-modal-close:active {
  opacity: 0.1;
}

.modal-contact-us label {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}

.contact-us-form-name {
  display: block;
  width: 360px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 0px 19px 16px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
}

.contact-us-form-email {
  display: block;
  width: 360px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 0px 16px 15px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
}

.contact-us-form-text {
  width: 760px;
  height: 118px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px 0px 0px 15px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
}

.contact-us-form-name:hover,
.contact-us-form-email:hover,
.contact-us-form-text:hover {
  border: solid 2px #b4b9bb;
}

.contact-us-form-name:focus,
.contact-us-form-email:focus,
.contact-us-form-text:focus {
  border: solid 2px #000000;
}

.contact-us-form-name:invalid,
.contact-us-form-email:invalid,
.contact-us-form-text:invalid {
  color: #e74246;
  border: solid 2px #e74246;
}

input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 1;
  color: rgba(68, 68, 68, 0.5);
}

input:hover::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 1;
  color: rgba(68, 68, 68, 0.5);
}

input:focus::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 1;
  color: #444444;
}

.contact-us-form-button {
  margin-top: 11px;
  width: 260px;
  height: 50px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #fb565a;
}

.contact-us-form-button:hover,
.contact-us-form-button:focus {
  background-color: #e74246;
}

.contact-us-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
/* Стилизация модальное окно-конец*/
/*Главная страница*/

/*Страница магазин*/
/*Стилизация блока заголовок-начало*/
.title {
  padding-top: 70px;
  padding-bottom: 108px;
  background-color: #eeeeee;
}

.page-title {
  margin: 0px;
  padding: 0px;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}
/*Стилизация блока заголовок-конец*/

/*Стилизация блока фильтры-начало*/

/*После сборки фильтра*/
.filter-price lable {
  line-height: 1.38;
  color: #283136;
}

.filter-input-counter {
  line-height: 1.38;
  text-align: center;
  color: #283136;
  background-color: #eeeeee;
  border: none;
}
/*После сборки фильтра*/

.filter-item {
  margin: 0px;
  padding: 0px;
  border: none;
}

.filter ul {
  margin: 0px;
  padding: 0px;
  margin-left: -2px;
  list-style: none;
}

.filter-item:nth-child(1) {
  margin-bottom: 54px;
}

.filter-item:nth-child(2) {
  margin-bottom: 22px;
}

.filters {
  width: 360px;
}

.filter-item legend {
  font-size: 18px;
  margin-left: 1px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.2px;
  color: #000000;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-grid {
  margin-bottom: 20px;
  padding-left: 39px;
  line-height: 1.25;
  color: #283136;
}

.filter-grid label {
  position: relative;
  display: block;
  color: #283136;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before, 
.filter-input-radio:focus + label::before{
  opacity: 1;
}

.filter-input-radio:focus + label {
  box-shadow: 0px 0px 5px #4d90fe;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-feature {
  margin-bottom: 16px;
  padding-left: 39px;
}

.filter-feature label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -37px;
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:hover + label::before, 
.filter-input-checkbox:focus + label::before{
  opacity: 1;
}

.filter-input-checkbox:focus + label {
  box-shadow: 0px 0px 5px #4d90fe;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -37px;
  width: 27px;
  height: 24px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item:nth-child(2) legend {
  margin-bottom: 14px;
}

.filter-item:nth-child(3) legend {
  margin-bottom: 14px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled {
  opacity: 0.3;
  color: rgba(40, 49, 54, 0.3);
}

.filters-button {
  margin-top: 32px;
  margin-left: 2px;
  width: 260px;
  height: 50px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.filters-button:hover,
.filters-button:focus {
  background-color: #dfdfdf;
}

.filters-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}
/*Стилизация блока фильтры-конец*/

/*Стилизация блока сортировка-начало*/
.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 95px;
}

.sorting-title {
  margin: 0;
  padding: 0;
  margin-left: -1px;
  font-size: 18px;
  width: 160px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}

.sorting-by-parameter,
.sorting-by-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-by-parameter {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 280px;
  margin-left: auto;
}

.sorting-by-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  height: 24px;
}

.sorting-down a,
.sorting-up a {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
}

.sorting-down {
  margin-left: auto;
}

.sorting-up {
  margin-left: 10px;
}

.sorting-by-direction .active-direction::before {
  opacity: 1;
}

.sorting-down a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.2;
}

.sorting-down a:hover::before,
.sorting-down a:focus::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.4;
}

.sorting-down a:active::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


.sorting-up a::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  opacity: 0.2;
}

.sorting-up a:hover::before,
.sorting-up a:focus::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  opacity: 0.4;
}

.sorting-up a:active::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
}

.sorting-by-price a,
.sorting-by-type a,
.sorting-by-name a {
  display: inline-block;
  text-transform: uppercase;
}

.sorting-by-name a {
  margin-right: 8px;
}

.sorting-by-parameter .active-parameter {
  color: #000000;
}

.sorting-by-parameter a {
  font-size: 14px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-by-parameter a:hover,
.sorting-by-parameter a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-by-parameter a:active {
  color: #000000;
}
/*Стилизация блока сортировка-конец*/

/*Стилизация блока каталог-товаров-начало*/
.catalog {
  padding-top: 54px;
}

.catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  padding-left: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.catalog-list figure {
  margin: 0px;
  padding: 0px;
  max-width: 360px;
  max-height: 576px;
}

.catalog-item {
  position: relative;
  max-width: 360px;
  margin-bottom: 73px;
}

.catalog-item::before {
  position: absolute;
  content: "";
  top: -40px;
  left: 0px;
  width: 360px;
  height: 40px;
  opacity: 0.12;
  background-image: url("../img/browser-in.svg");
}

.catalog-item:hover::after {
  position: absolute;
  content: "";
  top: -39px;
  left: 0px;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser-in.svg");
}

.catalog-item-info {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 360px;
  text-align: center;
}

.catalog-item:hover .catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item:nth-child(2n) {
  margin-left: 40px;
}

.catalog-item-info h3 {
  margin: 0px;
  margin-top: 43px;
  margin-bottom: 13px;
  margin-right: 3px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  color: #000000;
}

.catalog-item-info p {
  margin: 0;
  padding: 0;
  line-height: 18px;
  max-width: 240px;
  margin-bottom: 31px;
}

.catalog-item-info {
  background-color: #eeeeee;
}

.catalog-item-info a {
  color: #000000;
}

.catalog-item-info .price-button {
  display: block;
  margin-bottom: 44px;
  padding-top: 17px;
  padding-bottom: 16px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}

.price-button:hover,
.price-button:focus {
  background-color: #e74246;
}

.price-button:active {
  background-color: #d7373b;
}
/*Стилизация блока каталог-товаров-конец*/

/*Стилизация блока пагинация-начало*/
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0px;
  margin-top: -12px;
  margin-bottom: 60px;
  padding: 0px;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  display: block;
  padding-top: 16px;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  padding-top: 14px;
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #ffffff;
}

.pagination-item-next a {
  text-transform: uppercase;
  width: 260px;
}
/*Стилизация блока пагинация-конец*/
