body {
	margin: 0;
	padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
  background-color: #ffffff;
}

.container {
	width: 1160px;
	margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}
/*Главная страница*/
/* Стилизация заголовка страницы-начало*/
.main-header .container {
  text-transform: uppercase;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 1.8;
  color: #000000;
	background-color: #eeeeee;
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation{
  list-style: none;
}

.main-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.visited {
  border-bottom: 2px solid #fb565a;
}

.login-link:hover {
	color: #fb565a;
}

.login-link:active {
	color: rgba(0, 0, 0, 0.3);
}
/* Стилизация заголовка страницы-конец*/

/* Стилизация блока услуги-начало*/
.services-list {
	list-style: none;
}

.service-title {
	text-transform: uppercase;
  font-size: 24.5px;
  font-weight: bold;
  line-height: 1.29;
  color: #000000;
}

.button {
	text-transform: uppercase;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
}

.service-button-1 {
  background-color: #fb565a;
}

.service-button-1:hover,
.service-button-1:focus {
  background-color: #e74246;
}

.service-button-1:active {
	color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.service-button-2 {
  background-color: #00ca74;
}

.service-button-2:hover,
.service-button-2:focus {
   background-color: #00bc6c;
}

.service-button-2:active {
	color: rgba(255, 255, 255, 0.3);
   background-color: #00aa62;
}

.service-button-3 {
  background-color: #efc84a;
}

.service-button-3:hover,
.service-button-3:focus {
 
  background-color: #eab534;
}

.service-button-3:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
}
/* Стилизация блока услуги-конец*/

/* Стилизация блока о нас-начало*/
.about-us-description b {
  font-size: 45.5px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.about-us-description h3 {
	text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.working-list {
	list-style: none;
}

.values b {
	text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.values-list {
	list-style: none;
}

.values-list li {
	line-height: 1.13;
  color: #283136;
}

.values-list b {
  font-size: 45px;
  font-weight: bold;
  line-height: 0.22;
  color: #000000;
}
/* Стилизация блока о нас-конец*/

/* Стилизация блока заказчики-начало*/
.customers-list {
	list-style: none;
}

.customer-logo {
	opacity: 0.2;
}

.customer-logo:hover,
.customer-logo:focus  {
	opacity: 1;
}

.customer-logo:active {
	opacity: 0.1;
}
/* Стилизация блока заказчики-конец*/

/* Стилизация блока контакты-начало*/
.contacts {
	background-image: url('../img/2.jpg');
	/*background-color: #eeeeee;*/
  background-position: top center;
  background-repeat: no-repeat;
}

.contact-us b {
  font-size: 17.5px;
  font-weight: bold;
  line-height: 1.8;
  color: #000000;
}

.contact-us p {
  line-height: 1.13;
  color: #666666;
}

.contacts-button {
  background-color: #fb565a;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: #e74246;
}

.contacts-button:active {
	color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
/* Стилизация блока контакты-конец*/

/* Стилизация футера-начало*/
.main-footer p {
  line-height: 1.38;
  color: #444444;
}

.main-footer b {
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}

.social-button-list {
	list-style: none;
}

.social-button {
	background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}

.social-button:active {
	background-color: #d7373b;
}
/* Стилизация футера-конец*/

/* Стилизация модальное окно-начало*/
.modal-contact-us h2 {
	font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.modal-contact-us label {
  font-size: 17.5px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}

.contact-us-form-name,
.contact-us-form-email {
	width: 360px;
  height: 50px;
  border: solid 2px #d7dcde;
}

.contact-us-form-text {
	width: 760px;
  height: 118px;
  border: solid 2px #d7dcde;
}

.contact-us-form-name:hover,
.contact-us-form-email:hover,
.contact-us-form-text:hover {
  border: solid 2px #b4b9bb;
}

.contact-us-form-name:focus,
.contact-us-form-email:focus,
.contact-us-form-text:focus {
	border: solid 2px #000000;
}

.contact-us-form-name:invalid,
.contact-us-form-email:invalid,
.contact-us-form-text:invalid {
	color: #e74246;
	border: solid 2px #e74246;
}

input::-webkit-input-placeholder {
  font-size: 17.5px;
  line-height: 1;
	color: color: rgba(68, 68, 68, 0.5);
}

input:hover::-webkit-input-placeholder {
	font-size: 17.5px;
  line-height: 1;
	color: color: rgba(68, 68, 68, 0.5);
}

input:focus::-webkit-input-placeholder {
	font-size: 17.5px;
  line-height: 1;
	color: #444444;
}

.contact-us-form-button {
  font-size: 17.5px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  border: 0;
	background-color: #fb565a;
}

.contact-us-form-button:hover,
.contact-us-form-button:focus {
	background-color: #e74246;
}

.contact-us-form-button:active {
	color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
/* Стилизация модальное окно-конец*/
/*Главная страница*/

/*Страница магазин*/
/*Стилизация блока заголовок-начало*/
.page-title {
  font-size: 54px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}
/*Стилизация блока заголовок-конец*/

/*Стилизация блока фильтры-начало*/
.filter legend {
  font-size: 17.5px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.2px;
  color: #000000;
}

.filter fieldset {
	border: none;
}

.filter ul{
	list-style: none;
}

.filter-price lable {
  line-height: 1.38;
  color: #283136;
}

.filter-input-counter {
  line-height: 1.38;
  text-align: center;
  color: #283136;
  background-color: #eeeeee;
  border: none;
}

.filter-grid {
  line-height: 1.25;
  color: #283136;
}

.filter-input:hover + lable,
.filter-input:focus + lable {
	color: #000000;
}

.filter-input:disabled {
	opacity: 0.3;
	color: rgba(40, 49, 54, 0.3);
}

.filters-button {
	width: 260px;
  height: 50px;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  border: none;
}

.filters-button:hover,
.filters-button:focus {
	background-color: #dfdfdf;
}

.filters-button:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}
/*Стилизация блока фильтры-конец*/

/*Стилизация блока сортировка-начало*/
.sorting-title {
	font-size: 17.5px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}

.sorting-list {
	list-style: none;
}

.sorting-list a {
	font-size: 14px;
  line-height: 1.25;
	color: rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover,
.sorting-list a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:active {
	color: #000000;
}
/*Стилизация блока сортировка-конец*/

/*Стилизация блока каталог-товаров-начало*/
 .catalog-list {
 	list-style: none;
 }

 .catalog-item-info h3 {
	font-size: 17.5px;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  color: #000000;
}

.catalog-item-info a {
	color: #000000;
}

.catalog-item-info {
	background-color: #eeeeee;
}

.catalog-item-info .price-button {
	font-size: 17.5px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.catalog-item-info .price-button:hover,
.catalog-item-info .price-button:focus {
	background-color: #e74246;
}

.catalog-item-info .price-button:active {
	background-color: #d7373b;
}
/*Стилизация блока каталог-товаров-конец*/

/*Стилизация блока пагинация-начало*/
.pagination-item a {
  font-size: 17.5px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
	color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #ffffff;
}
/*Стилизация блока пагинация-конец*/

/*Страница магазин*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Сеточные стили*/
/*Главная стараница*/
/*Заголовок*/
.main-header {
  padding-top: 49px;
  background-color: #eeeeee;
}

.wrapper {
  display: flex;
  align-items: center;
  min-height: 65px;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.header-logo {
  width: 160px;
}

.main-navigation {
  display: flex;
  width: 1000px;
  align-items: center;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 202px;
  width: 440px;
  align-items: center;
}

.user-navigation {
  text-align: right;
  margin-left: auto;
  width: 160px;
}
/*Заголовок*/

/*Слайдер*/
.slider {
  min-height: 413px;
  background-color: #eeeeee;
  margin-bottom: 80px;
}
/*Слайдер*/

/*Услуги*/
.services {
  margin-bottom: 80px;
}

.services-list {
  margin: 0px;
  padding: 0px;
}

.website-picture,
.app-picture,
.presentation-picture {
  margin: 0px;
  padding: 0px;
}

.services-list {
  display: flex;
  justify-content: flex-start;
}

.service-item:nth-child(2) {
  margin-left: 100px;
}

.service-item:nth-child(3) {
  margin-left: 100px;
}

.service-item p {
  width: 260px;
}
/*Услуги*/
  
/*О нас*/
.about-us {
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
  margin-bottom: 76px;
}

.about-us-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/*О нас*/

/*Наши клиенты*/
.customers {
  margin: 0px;
  padding: 0px;
  margin-bottom: 80px;
}

.customers-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 180px;
  margin: 0px;
  padding: 0px;
}

.customer-item:nth-child(1) {
  margin-left: 31px;
}

.customer-item:nth-child(2) {
  margin-left: 96px;
}

.customer-item:nth-child(3) {
  margin-left: 103px;
}

.customer-item:nth-child(4) {
  margin-left: 121px;
}
/*Наши клиенты*/

/*Контактная информация*/
.contacts {
  min-height: 416px;
  box-sizing: border-box;
  padding-top: 54px;
}

.contact-us {
  width: 319px;
  box-sizing: border-box;
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 50px;
  background-color: #ffffff;
}
/*Контактная информация*/

/*Футер*/
.main-footer {
  padding-top: 79px;
  padding-bottom: 77px;
}

.main-footer .container {
  display: flex;
  align-items: center;
}

.social-button-list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0px;
  margin-right: 139px;
  padding: 0px;
}

.social-button-item:nth-child(1),
.social-button-item:nth-child(2) {
  margin-right: 40px;
}

.slogan {
  width: 560px;
}
/*Футер*/

/*Модальное окно*/
.modal-contact-us .container {
  width: 960px;
  background-color: lightcoral;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 73px;
}

.contact-us-form-name,
.contact-us-form-email,
.contact-us-form-text {
  margin-top: 12px;
}

.contact-us-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*Модальное окно*/
/*Главная стараница*/

/*Каталог товаров*/
.page-title {
  margin: 0px;
  padding: 0px;
}

.title {
  padding-top: 70px;
  padding-bottom: 116px;
  background-color: #eeeeee;
}

.catalog {
  padding-top: 60px;
}

.catalog figure {
  margin: 0px;
  padding: 0px;
}

.filters fieldset {
  margin: 0px;
  padding: 0px;
}

.filter ul {
  margin: 0px;
  padding: 0px;
}

.catalog-wrap {
  display: flex;
}

.filters {
  width: 360px;
  margin-right: 40px;
}

.catalog-list {
  margin: 0px;
  padding: 0px;
}

.catalog-contents {
  display: flex;
  width: 760px;
  flex-direction: column;
}

.sorting {
  display: flex;
}

.sorting-list {
  display: flex;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
}

.catalog-item-info h3{
  margin: 0px;
}

.catalog-item:nth-child(2n) {
  margin-left: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0px;
  margin-top: 27px;
  margin-bottom: 60px;
  padding: 0px;
}

.pagination-item {
  margin-right: 11px;
}
/*Каталог товаров*/
/*Сеточные стили*/